{% extends "home.html" %}
{% block content %}
   <h2>Adding User</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add">
    </form>

    <p>Password requirements:</p>
    <p>Password must be at least 8 characters long.</p>
    <p>Password must contain at least 1 lowercase letter.</p>
    <p>Password must contain at least 1 uppercase letter.</p>
    <p>Password must contain at least 1 number.</p>
    <p>Password must contain at least 1 special character. (!"#$%&'()*+, -./:;<=>?@[\]^_`{|}~)</p>
{% endblock %}