<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>eRestaurant</title>
</head>
<body>
    <h1>eRestaurant</h1>
    <ul>
        <li><a href="{% url "restaurant-list" %}">Restaurant list</a></li>
        <li><a href="{% url "menu-list" %}">Menu list</a></li>
        <li><a href="{% url "contact" %}">Contact</a></li>
         {% if user.is_authenticated %}
             <li><a href="{% url "user-panel" %}">User panel</a></li>
             <li><a href="{% url "logout" %}">Log out</a></li>
         {% else %}
             <li><a href="{% url "add-user" %}">Add new User</a></li>
             <li><a href="{% url "login" %}">Sign in</a></li>
         {% endif %}
    </ul>
    {% block content %}
    {% endblock %}
    <footer>
        {% if user.is_authenticated %}
            You are logged in as: {{ user.username }}
        {% else %}
            You are not logged in.
        {% endif %}
    </footer>
</body>

</html>