{% extends 'home.html' %}
{% block content %}
    <h1>Name: {{ menu.name }}</h1>
    <h3>Restaurant: <a href="{% url "restaurant" menu.restaurant.id %}">{{ menu.restaurant.name }}</a></h3>
    <h3>Category: {{ menu.restaurant.category }}</h3>
    <p>Description: {{ menu.description }}</p>
    <h2>Dishes:</h2>
        <ol>
            {% for elem in menu.dish_set.all %}
                <li><h3>{{ elem.name }}</h3>
                <p>{{ elem.description }}</p>
                <p>Price {{ elem.price }}</p>
                <p>Preparation time: {{ elem.preparation_time }}</p>
                <p>Is wegetarian: {{ elem.is_wegetarian }}</p>
                </li>
            {% endfor %}
        </ol>
{% endblock content %}