{% extends "home.html" %}
{% block content %}
   <h2>Modify menu</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Modify menu">
    </form>
    <h3>Menu dishes:</h3>
    <ol>
    {% for dish in menu.dish_set.all %}
        <li><a href="{% url "dish" dish.id %}">{{ dish.name }}</a> (<a href="{% url "dish-modify" dish.id %}">Modify</a>
            ,<a href="{% url "dish-menu-remove" menu.id dish.id %}">Remove from menu</a>)</li>
    {% endfor %}
    </ol>
    <p><a href="{% url "dish-add" menu.id %}">Add new dish</a> or
        <a href="{% url "dish-add-existing" menu.id %}">add already existing dish</a></p>
{% endblock %}