{% extends 'home.html' %}
{% block content %}
    <div class="center-div">
    <h1><a href="{% url "restaurant" restaurant.id %}">{{ restaurant.name }}</a></h1>
    <h3>Opening hours:</h3>
        <div>
            {% for hour in restaurant.openinghours_set.all %}
                <div class="center">{{ hour.get_day_of_the_week_display }}: {{ hour.from_hour }}-{{ hour.to_hour }}</div>
            {% endfor %}
        </div>
    {% if error %}
        <h2>{{ error }}</h2>
    {% endif %}
        <h3>Select the date and hour for which you want to reserve a table:</h3>
    {% for elem in next_days %}
        <p><b>{{ elem.0 }}, {{ elem.1 }}</b>
        {% if elem.3 %}
        <form method="post">
        {% csrf_token %}
            <select name="hour">
                {% for el in elem.3 %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endfor %}
            </select>
        <input type="hidden" name="day" value="{{ elem.0 }}">
        <input type="submit" value="Look for a table"> </p>
        </form>
        {% else %}
            <p>There are no tables available for this day.</p>
        {% endif %}

    {% endfor %}
    </div>
{% endblock content %}