{% extends 'home.html' %}
{% block content %}
    <div class="center-div">
        <h1><a href="{% url "restaurant" table.restaurant.id %}">{{ table.restaurant.name }}</a></h1>
        <h3>Opening hours:</h3>
            <div>
                {% for hour in table.restaurant.openinghours_set.all %}
                    <div class="center">{{ hour.get_day_of_the_week_display }}: {{ hour.from_hour }}-{{ hour.to_hour }}</div>
                {% endfor %}
            </div>
        <h2>Table: {{ table.name }}</h2>
    <h3>Seats: {{ table.seats }}</h3>
        <h3>Description:</h3>
        <p>{{ table.description }}</p>
    <h2>Possible reservations:</h2>
    </div>
    <ul style="display: flex; justify-content: center">
    {% for elem in next_days %}
        <div style="margin: 10px">
            <b>{{ elem.0 }}, {{ elem.1 }}:</b>
            {% if elem.3 == elem.4 %}
                <p>Whole day reserved.</p>
            {% else %}
            <p><ol>
            {% for ele in elem.3 %}
                {% if ele not in elem.4 %}
                    <li>{{ ele }}</li>
                {% endif %}
            {% endfor %}
            </ol></p>
            {% endif %}
        </div>
        </li>
    {% endfor %}
    </ul>
    <div class="center-div">
        <h2><a href="{% url "table-list" table.restaurant.id %}">Back to tables list</a></h2>
    </div>

{% endblock content %}